.body1 {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #ff9e8d;
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .body1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  background: linear-gradient(#ecb8b8,#e1bb49);
    clip-path: circle(55% at 70% 0%);
  }

  .body1::after {
    content: "";
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#77ACF1, #77ACF1);
    clip-path: circle(20% at 10% 90%);
  }

  .containers {
    position: relative;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 1;
  }

  .card {
    width: 300px;
    height: 380px;
    position: relative;
    margin: 30px;
    background: radial-gradient(
      140% 140% at 0% 0%,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    border-top: 1px solid #eeeded70;
    border-left: 1px solid #eeeded70;
    border-radius: 50px;
    box-shadow: inset -5px -5px 250px rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(30px);
    display: flex;
    align-items: center;
    justify-content: center;
  
  }

  .card:hover {
  top:2px;
  }
  .card-header{
    padding-top: 10px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    border-bottom-width: 0px;
  }



